@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');



body{
    background-image:url(/backgroundtriangles.jpg);
    margin: 0px;
    padding: 0px;
}

a{
    display: block;
    text-align: center;
}

h1{
    text-align: right;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px white;
    font-size: 70px;
}

h4{
    font-family: 'Abel', sans-serif;
    text-shadow: 1px 1px white;
}

.center{
    text-align: center;
}

.wrapper{
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

p{
    font-family: 'Abel', sans-serif;
    margin-left: 23.5%;
}

dl{
    font-family: 'Abel', sans-serif;
}

ol{
    font-family: 'Abel', sans-serif;
}

.linked-in-position{
    position: absolute;
    left: 650px;
    top: 250px;
}

.github-position{
    position: absolute;
    left: 955px;
    top: 300px;
}

ol{
    position: absolute;
    left: 1500px;
    top: 470px;
}


dl{
    position: absolute;
    left: 180px;
    top: 380px;
    font-size: 25px;
}

.food{
    position: absolute;
    left: 180px;
    top: 280px;
    font-size: 45px;
}

.brief{
    position: absolute;
    left: 1750px;
    top: 450px;
    font-size: 20px;
}

h2{
    text-align: right;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px white;
    font-size: 50px;
    position: absolute;
    left: 1550px;
    top: 90px
}

.smiths{
    border: solid black;
    width: 30%;
    margin-left: 35%;
}

.para{
    border: solid black;
    width: 50%;
}

.gitinfo{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 920px;
    top: 470px
}

q{
    margin: 50px;
}

div.center{
    padding: 15px;
}

.nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

.goal{
    position: absolute;
    left: 1600px;
    top: 280px;
    font-size: 45px;
}

.wrapper a{
    margin-left: 10px;
    font-size: 35px;
    text-decoration: none;
}

